/* CSS for general part */
.mainpage-wrapper button {
    font-family: "Barlow";
}
.mainpage-container {
    background-color:#FAF7F2;
}

/* CSS for header part */
.mainpage-container header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mainpage-container header div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    row-gap: 2rem;
}
.mainpage-container header .mainpage-bgimg{
    width: 100%;
}
.mainpage-container header .mainpage-logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mainpage-container header h1{
    font-size: 3rem;
    font-weight: 300;
    color: white;
    width: 20rem;
    text-align: center;
}
.mainpage-container header h2{
    font-family: "Satisfy";
    font-size: 2rem;
    color:#FDC913;
}
.mainpage-container header button{
    font-weight: 600;
    background-color:#FDC913;
    padding: 1rem 4rem;
    border: none;
    border-radius: 3rem;
}

/* CSS for MainpageNav */
.mainpage-navwrapper{
    max-width: 50rem;
    margin: 0rem auto;
}

/* CSS for section part */
.mainpage-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
}
.mainpage-hero div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.mainpage-hero img{
    border-radius: 5px;
    width: 20rem;
}
.mainpage-hero button{
    color: #CE2829;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
}
    /* CSS for section-s1 part */
.mainpage-hero-s1{
    position: relative;
}
.mainpage-hero-s1 h1{
    font-family: "Quattrocento";
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    width: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.mainpage-hero-s1 h2{
    font-family: "Barlow";
    line-height: 3rem;
    color: white;
    position: absolute;
    top: 6.5rem;
    left: 1rem;
}
.mainpage-hero-s1 button{
    position: absolute;
    top: 9.5rem;
    left: 1rem;
}
    /* CSS for section-s21 part */
.mainpage-hero-s21{
    position: relative;
}
.mainpage-hero-s21 h2{
    font-family: "Barlow";
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 10rem;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.mainpage-hero-s21 button{
    position: absolute;
    top: 5rem;
    left: 1rem;
}
    /* CSS for section-s22 part */
.mainpage-hero-s22{
    position: relative;
 }
.mainpage-hero-s22 h2{
    font-family: "Barlow";
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    width: 10rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.mainpage-hero-s22 h2 span{
    color: #CE2829;
}
.mainpage-hero-s22 button{
    position: absolute;
    top: 5rem;
    left: 1rem;
}

/* CSS for midtitle part */
.mainpage-midtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.mainpage-midtitle h2{
    font-family: "Satisfy";
    font-size:1.5rem;
    color:#CE2829;
}
.mainpage-midtitle h1{
    font-family: "Barlow";
    font-size: 2rem;
    font-weight: 600;
}

/* CSS for main part */
.mainpage-container main{
    display: flex;
    justify-content: space-around;
    padding: 1rem 10rem;
}


/* CSS for mobile adjustment */
@media(max-width:750px){
    .mainpage-container header .mainpage-bgimg{
        height: 50rem;
        object-fit: cover;
    }
    .mainpage-hero{
        flex-direction: column;
    }
    .mainpage-container main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .mainpage-container main{
        padding: 1rem 1rem;
    }
}