/* CSS for in case of api error */
.error{
    background-color: #CE2829;
    color: white;
    height: 100vh;
    width: 100vw;
    padding-top: 25rem;
    padding-left: 15rem;
    line-height: 2;
}

/* CSS for container */
.order-conf-wrapper{
    background-color: #CE2829;
    font-family: "Barlow";
    text-align: center;
    height: 100vh;
}
.order-conf-container{
    margin:0rem 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS for header */
.order-conf-container header img{
    width: 17rem;
    margin-top: 3rem;
}
.order-conf-container header .satisfy{
    color:#FDC913;
    font-family: "Satisfy";
    font-size: 1.5rem;
    margin-top: 3rem;
}
.order-conf-container header h1{
    color: white;
    font-family: "Roboto Condensed";
    font-size: 3.5rem;
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid white;
}

/* CSS for main */
.order-conf-container main{
    color:white;
    margin-top: 2rem;
    text-align: left;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.order-conf-container main h3{
    text-align: center;
}
.order-conf-detail{
    margin-top: 2rem;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.order-conf-detail div{
    color:#FAF7F2;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}
.order-conf-val{
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
}

/* CSS for amount section */
.order-conf-amount-head{
    margin-top: 3rem;
    padding: 2rem 2rem;
    width: 20rem;
    border: 1px solid #FAF7F2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.order-conf-amount-head h4{
    margin-bottom: 1rem;
}
.order-conf-amount {
    display: flex;
    justify-content: space-between;
}


/* CSS for mobile adjustment */
@media(max-width:750px){
    .order-conf-container main{
        display: none;
    }
    .order-conf-wrapper Footer{
        display: none;
    }
    .order-conf-container header h2{
        display: none;
    }
    .order-conf-container header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-conf-container header img{
        margin-top: 7rem;
    }
    .order-conf-container header h1{
        border: none;
        text-align: center;
        margin-top: 15rem;
    }
}